
/* Home page*/
.logo{
  position: relative;
  padding: 5px;
 display: flex;
  justify-content: center;
}
nav,
 #menu-checkbox {
  display: none;
}
#menu-checkbox:checked  ~ nav{
  display: block;
}
header{
  position: relative;
  padding: 10px;
  background: rgb(206, 246, 255);
  color: rgb(6, 6, 6);
}
nav{
  background: rgb(206, 246, 255);
  padding: 5px;
  top: 10px;
  text-align: center;
}
nav a {
  position: relative;
  color: rgb(6, 6, 6);
  padding: 0px 70px;
  font-size: 1.2rem;
}
.logo{
  position: relative;
  padding: 10px;
  display: flex;
  margin: auto;
  justify-content: center;
}
.home-cont{
  position: relative; 
}
.main-img{
  max-width: 100%;
  max-height: 100%;
}

main{
  display: block;
}
.exploring{
 position: relative;
  text-align: center;
  color: black;
  min-width: 210px;
  float: left;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  
}
.btn{
  background-color: #016452;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
@media(min-width: 600px){
  nav{
    display: block;
    position: static;
  }
.hamburger-icon {
  display: none;
}
nav a{
 display: inline;
}
.exploring{
  margin-top: 25px;
  width: 1800px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  top: 20%;
  left: 20%;
  padding: 10px;
}
}
/*collection page*/
.row{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}
.column {
  width: 300px;
  height: 400px;
  padding: 20px;
  align-items: center;
  background-color:rgb(198, 193, 193);
  display: grid;
  gap: 10px;
  text-align: center;
  margin-left: 20px;
}
.header-contact{
display: flex;
padding-right: 20px;
}
.product-coll{
  width: 290px;
  height: 290px;
  display: grid;
  grid-template-columns: 3fr;
  max-width: 1000px;
  gap: 10px;
  padding: 5px;
}


/* contact page*/

input,
select,
textarea {
  border: 1px solid rgb(206, 246, 255);
  border-radius: 5px;

}
fieldset
{
  background-color:rgb(206, 246, 255);
  max-width:320px;
  padding:20px;	
  margin-left: 20px;


}
h2{
  margin-left: 20px;
}
.form__input{
  width: 300px;
  padding: 5px;

}
textarea {
  width: 300px;
  height: 150px;
  
}
.sendbutt{
  
  background-color:rgb(157, 229, 245);
  width: 60px;
  height: 30px;
}
.contact-img{
  background-image: url(/images/contact1.jpg);
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: center;
}
section{
  display: flex;
  justify-content: center;
}
.contact-container{
  position: relative;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  gap:5px;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  gap: 20px;
}
.paragraph{
  margin: 8px;
  font-size: 18px;
  margin-left: 30px;
}

.bold{
  margin-top: 20px;
  margin-bottom: 0px;
font-weight: bold;}
.box1-container{
  width: max-content;
  display: flex;
  height: 300px;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.box2-container{
 max-width: 500px;
  flex: 1 1 400px;
  align-self: flex-end;

}
/*Home page*/
.main-img{
  width: 100%;
}
.product-list{
  background-color: #712d2d
  flex : 1fr  auto;
  align-self : flex-start;
  align-items: center;
}
main{
  display: block;
}
.product-container{
  background-color: aquamarine;
display: grid;
grid-template-columns: repeat(auto fill,minmax(17rem, 1fr));
gap: 20px;
width: 100%;

}
.product-container img{
  grid-column: -1/1;

}
.product-container p{
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
  text-align: left;
}


footer{
  text-align: center;
}
@media (min-width: 600px){
  .column{
position: flex;
flex-direction: column;
grid-template-columns: 1;
min-width: none;
  }
}